Site/Views/menu.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="menu" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence maxOccurs="unbounded">
              <xs:choice>
                <xs:element ref="group"></xs:element>
                <xs:element ref="page"></xs:element>
              </xs:choice>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="group" type="group"/>
  <xs:element name="page" type="page"/>
  <xs:complexType name="group">
    <xs:sequence>
      <xs:sequence maxOccurs="unbounded">
        <xs:choice>
          <xs:element ref="group"></xs:element>
          <xs:element ref="page"></xs:element>
        </xs:choice>
      </xs:sequence>
    </xs:sequence>
    <xs:attribute name="title" type="xs:string" use="required" />
    <xs:attribute name="longtitle" type="xs:string" use="required" />
    <xs:attribute name="showTitleInPage" type="xs:boolean" use="optional" />
    <xs:attribute name="isPreBallot" type="xs:boolean" use="optional" />
  </xs:complexType>
  <xs:complexType name="page">
    <xs:attribute name="title" type="xs:string" use="required" />
    <xs:attribute name="controller" type="xs:string" use="required" />
    <xs:attribute name="action" type="xs:string" use="required" />
    <xs:attribute name="class" type="xs:string" use="optional" />
    <xs:attribute name="role" type="xs:string" use="required" />
    <xs:attribute name="desc" type="xs:string" use="required" />
    <xs:attribute name="featureWhen" type="xs:string" use="optional" />
    <xs:attribute name="requireElection" type="xs:boolean" use="required" />
    <xs:attribute name="showOnDashboard" type="xs:boolean" use="optional" />
    <xs:attribute name="showLocationSelector" type="xs:boolean" use="optional" />
    <xs:attribute name="showTellerSelector" type="xs:boolean" use="optional" />
    <xs:attribute name="isPreBallot" type="xs:boolean" use="optional" />
    <xs:attribute name="hasTies" type="xs:boolean" use="optional" />
  </xs:complexType>

</xs:schema>